@import url("./assets/fonts/font.css");
/*global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  font-family: "SFProText", "SFProDisplay", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  color: #000;
  background: #f5f5f7;
  overflow-x: hidden;
}

ul {
  list-style: none;
  display: flex;
  width: 1024px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

/*nav*/
.nav nav {
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav nav ul li {
  height: 100%;
}
.nav nav ul li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 12px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: inherit;
}

.nav nav ul li:first-child a,
.nav nav ul li:last-child a {
  padding: 0;
}

/*hero*/
.hero {
  margin: 0 auto;
  width: 980px;
  height: 248px;
  display: flex;
  justify-content: space-between;
}
.intro {
  width: 658.83px;
  padding: 80px 0 64px;
  font-size: 48px;
  font-family: "SFProDisplay";
}

.intro-side {
  padding: 90px 0 74px;
}

.intro-light {
  color: #6e6e73;
}
.ask,
.find-store {
  display: flex;
  padding-bottom: 16px;
}

.side-img-cont {
  padding-right: 8px;
}

.side-content {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.side-content a {
  color: #06c;
  font-weight: 300;
}

.ask-content span {
  font-weight: 500;
}

/*category slider*/
.slider {
  width: 100%;
  height: 198px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 223px;
  margin-bottom: 62px;
}

.right-btn,
.left-btn {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  z-index: 9999;
  width: 41.59px;
  height: 41.59px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.category-left-btn {
  opacity: 1;
}

.left-btn,
.right-btn {
  position: absolute;
  top: 42.5%;
  opacity: 0;
  z-index: 999;
  transition: all 400ms ease-in-out;
}

.left-btn {
  left: 20px;
}

.show-btn {
  opacity: 1;
  transform: scale(1.3);
}

.right-btn {
  right: 20px;
}

.categories {
  width: 150%;
  height: 148px;
  display: flex;
  transition: all 600ms ease-in-out;
  justify-content: space-between;
}

.category {
  width: 136px;
  height: 148px;
  padding: 18px 8px 16px;
  margin: 0 6px;
  cursor: pointer;
}

.category-img {
  width: 100%;

  padding-bottom: 16px;
}

.category a {
  font-size: 14px;
  color: #000;
  display: block;
  text-align: center;
}

.category a:hover {
  text-decoration: underline;
}

.hide-btns {
  opacity: 0;
  pointer-events: none;
}

/*latest*/
.latest {
  position: relative;
  padding-bottom: 54px;
}

.latest-slider {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  margin: 0 auto;
  transition: all 400ms ease-in-out;
  transform: translateX(15%);
}

.latest-card {
  background-color: #fff;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 8%);
  border-radius: 18px;
  height: 500px;
  transition: all ease-in-out 400ms;
  width: 400px;
  margin-right: 20px;
}
.latest .contents {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: inherit;
  position: absolute;
}
.text-white {
  color: #fff;
}

.no-wrap {
  word-wrap: break-word;
}
.latest .product-name {
  font-size: 12px;
  margin: 0 0 4.8px;
  width: fit-content;
  padding: 0 0 8px;
}

.latest .tagline {
  font-size: 28px;
  letter-spacing: -0.06em;
}

.latest .price {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.09em;
}

.latest h2 {
  width: 980px;
  margin: 0 auto;
  font-size: 28px;
  padding: 14px 0px;
  font-family: "SFProDisplay";
}

.latest-img {
  border-radius: 18px;
}

.latest-card:hover {
  transform: scale(1.01);
  transition: all ease-in-out 400ms;
}

/*help section*/
.help {
  padding-left: 223px;
  padding-bottom: 54px;
}

.help h2 {
  padding-bottom: 14px;
}

.card-box {
  display: grid;
  grid-template-columns: 480px 480px;
  height: 500px;
  width: fit-content;
  gap: 20px;
}

.big-card {
  grid-row: 1/3;
  border-radius: 15px;
  background: url(./assets/img/store-card-50-specialist-202108.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big-card .content {
  font-size: 28px;
  font-family: "SFProDisplay";
  padding: 30px;
}

.top-card {
  grid-row: 1/2;
  border-radius: 15px;
  background: url(./assets/img/store-card-25-apps-202108.jpg), #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 240px;
}

.top-card .content {
  font-size: 24px;
  padding: 55px 30px 30px 30px;
  font-family: "SFProDisplay";
}

.top-card .content .text {
  width: 336px;
}

.bottom-card {
  grid-row: 2/3;
  border-radius: 15px;
  background: url(./assets/img/store-card-25-genius-202108.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 240px;
}

.bottom-card .content {
  padding: 30px 0px 30px 30px;
  font-size: 24px;
  width: 244px;
}

.bottom-card .content .text {
  padding-top: 25px;
}

/*shops*/
.shops-container {
  padding-left: 230px;
  width: 155.2%;
}
.shop-header {
  font-size: 24px;
  width: fit-content;
  padding-bottom: 31px;
}
.shops-card-container {
  display: flex;
  justify-content: space-between;
}
.shops-card {
  width: 313px;
  height: 240px;
  background-color: #fff;
  border-radius: 15px;
}
