@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Light.woff2') format('woff2'),
        url('SFProText-Light.woff') format('woff'),
        url('SFProText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('SFProDisplay-Semibold.woff2') format('woff2'),
        url('SFProDisplay-Semibold.woff') format('woff'),
        url('SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('SFProText-Medium.woff2') format('woff2'),
        url('SFProText-Medium.woff') format('woff'),
        url('SFProText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

